.container {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border: 1px solid #dedede; 
  border-radius: 5px; 
  padding: 20px; 
  box-shadow: 2px 2px 5px #a4a3a3; 
  max-width: 300px; 
  margin: 20px;
  text-align: center; 
}

.containerImage {
  width: 300px;
  height: 200px;
  border: 1px solid #dedede;
  border-radius: 5px;
  box-shadow: 3px 3px 5px #cccccc;
  margin-bottom: 1px;
}

.containerName {
  font-size: 24px;
  font-weight: bold;
  border: 1px solid #c0c0c0; 
  border-radius: 5px;
  padding: 10px;

}

.containerCont {
  font-size: 18px;
  font-weight: normal;
}
